.section {
  padding: 64px 16px;
}

.section-sm {
  padding: 32px;
}

.container {
  max-width: 760px;
  margin: auto;
}

.container-lg {
  max-width: 1024px;
  margin: auto;
}

.container-xl {
  max-width: 1280px;
  margin: auto;
}

.container-button {
  /* width: 280px; */
  height: 48px;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;
  width: 280px;
  height: 126px;
}

.container-notes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
