/* Background colors */
.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-primary-300 {
  background-color: var(--primary-light);
}

.bg-primary-100 {
  background-color: var(--primary-lighter);
}

.bg-white {
  background-color: white;
}

/* colors */
.white {
  color: #fff;
}

.primary-500 {
  color: var(--primary-regular);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300 {
  color: var(--gray-300);
}

.error-300 {
  color: var(--error-300);
}

.center-text {
  text-align: center;
}

/* Margins */
.mb-8 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

/* Flex & Grid */
.flex {
  display: flex;
}

.block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.items-center {
  align-items: center;
}

/* Width */
.fit-content {
  width: fit-content;
}

.full-width {
  width: 100%;
}

/* Text styling */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

/* Paddings */
.p-0 {
  padding: 0;
}

.wrapper {
  display: grid;
  gap: 3px;
  grid-template-areas:
    "header"
    "nav"
    "content";
  background-color: white;
}

.main-head {
  grid-area: header;
  height: 50px;
  background-color: black;
}
.content {
  grid-area: content;
  background-color: black;
  min-width: 1167px;
  min-height: 100vh;
}
.main-nav {
  grid-area: nav;
  background-color: black;
  min-width: 280px;
  min-height: 100px;
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content content"
      "nav    content content";
  }
  .main-nav {
    min-height: 100vh;
  }
  .content {
    min-height: 100vh;
  }
}

.text-area-note {
  width: 100%;
  min-width: 312px;
  min-height: 96px;
  resize: none;
}

.container-new-note {
  margin: auto;
  margin-top: 20px;
  padding: 20px 20px;
  max-width: 600px;
  min-height: 150px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
}

.container-button {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container-note {
  position: relative;
  width: 260px;
  height: 260px;

  background: #ffffff;
  border-radius: 8px;
  padding: 20px 20px 0px;
}

.container-icon-note {
  position: absolute; /* Añade posicionamiento absoluto a los iconos */
  bottom: 0;
  display: flex;
  justify-content: flex-start;
}

.note {
  position: relative;
  display: flex;
  align-items: center;
}

.color-icon {
  margin-right: 10px;
  cursor: pointer;
}

#note-content {
  width: 100%;
}

.color-palette {
  display: none;
  padding: 5px;
  /* display: flex; */
  position: absolute;
  top: -70%;
  left: 0;
  background-color: white;
  box-shadow: 4px 5px 17px 0px rgba(0, 0, 0, 0.75);
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

/* Agrega estilos de colores según tu preferencia */
.color[data-color="#ff0000"] {
  background-color: #ff0000;
}

.color[data-color="#F28B82"] {
  background-color: #f28b82;
}

.color[data-color="#0000ff"] {
  background-color: #0000ff;
}

.active {
  background-color: red;
}

#trash-page {
  display: none;
}

.delete-note,
.restore-note {
  cursor: pointer;
}

.pinned-note {
  position: absolute;
  top: 0;
  right: 0;
}

/* paleta */
.paleta {
  display: none;
  position: absolute;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 2px;
  gap: 5px;
  top: -80px;
  left: -68px;
  flex-wrap: wrap;
  width: 170px;
  height: 80px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.color {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  margin: 0;
}

.color:nth-child(1) {
  background-color: #ffffff;
  border: 1px solid black;
}

.color:nth-child(2) {
  background-color: #f28b82;
}

.color:nth-child(3) {
  background-color: #fbbc04;
}

.color:nth-child(4) {
  background-color: #fff475;
}

.color:nth-child(5) {
  background-color: #ccff90;
}

.color:nth-child(6) {
  background-color: #a7ffeb;
}

.color:nth-child(7) {
  background-color: #cbf0f8;
}

.color:nth-child(8) {
  background-color: #aecbfa;
}

.color:nth-child(9) {
  background-color: #d7aefb;
}

.color:nth-child(10) {
  background-color: #fdcfe8;
}

.paleta.active {
  display: flex;
}
